{% extends 'base.html.twig' %}

{% block title %}{{ category.name}}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    {% for picture in category.pictures %}
        <h4>{{ picture.name }}</h4>
        <img src="{{ picture.source }}" alt="image">
        <p>{{ picture.description }}</p>
    {% endfor %}
{% endblock %}
